<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">

@FILE assets/templates/urkaffa/chunks/head.tpl

	{{styles}}

	<body>
		<div class="page text-center">
			
			@FILE assets/templates/urkaffa/chunks/header.tpl

			      @FILE assets/templates/urkaffa/chunks/breadcrumps.tpl 
			
				<main class="page-content section-75 section-md-top-90 section-md-bottom-20 services-and-facilities">
						
						<section>
							
						  	<div class="shell">
								
								<h1 class="text-spacing-inverse-50 letter-spacing-1">[*pagetitle*]</h1>
								
								<div class="top-block offset-top-20 font-RotondaC">					
									[*servicesAndFacilitiesTopBlock*]					
								</div>

								<div class="middle-block font-RotondaC">
									[*servicesAndFacilitiesMiddleBlock*]
								</div>

								<div class="bottom-block font-RotondaC">					
									[*servicesAndFacilitiesBottomBlock*]					
								</div>	
							  
							</div>
							
					</section>	
				
				</main>
			
			@FILE assets/templates/urkaffa/chunks/footer.tpl
			
		</div>
		
	{{scripts}}
			
	</body>
		
</html>